@use "../node_modules/@the_dissidents/svelte-ui/dist/main";
@use "../node_modules/@the_dissidents/svelte-ui/dist/uchu";

@include main.configure(
  // $page-background-dark: uchu.$yin-9,
);

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none;
}

.grow {
  flex-grow: 1;
}

@font-face {
  font-family: 'Mluvka';
  src: url('/Mluvka-Light-web.woff2') format("woff2");
}

@font-face {
  font-family: 'Text';
  font-style: normal;
  src: url('./Baskervville.ttf');
}

@font-face {
  font-family: 'Text-Chinese';
  src: url('./FangZhengShuSongJianTi.ttf');
}

@font-face {
  font-family: 'Text-Fallback';
  src: url('./HanaMinA.ttf');
}

@font-face {
  font-family: 'Text';
  font-style: italic;
  src: url('./Baskervville-Italic.ttf');
}
